.color{
    height: 40px;
    width: 40px;
    display: inline-block;
    border-color: rgb(0,0,0);
    border-width: 1px;
    border-style: solid;
    margin-left: 1px;
    margin-right: 1px;
}

#clear-board{
    margin: 10px;
}

.pixel{
    background-color: rgb(255,255,255);
    height: 40px;
    width: 40px;
    border-width: 1px;
    border-style: solid;
    border-color:rgb(0,0,0);
    display: inline-block;
}

#title {
    text-align: center;
}

#color-palette {
    display: flex;
    justify-content: center;
    background-color: blue;
}